* {
  box-sizing: border-box;
}

:root {
  --background-color: #fffcf9;
  --search-btn-color: #e93046;
  --search-btn-hover-color: #d2243c;
  --load-btn-gradient: linear-gradient(to bottom right, #ffa354, #e82b45);
  --load-btn-hover-color: #e82b45;
  --text-color: #311D28;
  --card-shadow: 0px 2px 1px 0px rgba(159, 176, 108, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  background-color: var(--background-color);
}

/* FORM STYLES */
.form-wrapper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 10px 10px -5px rgba(46, 47, 66, 0.16);
}

.search-form {
  text-align: center;
}

.search-form input,
.input-wrapper {
  max-width: 280px;
  height: 38px;
}

.input-wrapper {
  position: relative;
  width: max-content;
  margin: 0 auto;
}

.search-form input {
padding: 0 20px;

background-color: #fff;
border: 0.5px solid #D1C8CD;
border-radius: 50px;

box-shadow: 0px 2px 1px 0px rgba(49, 29, 40, 0.08), 0px 1px 1px 0px rgba(49, 29, 40, 0.16), 0px 1px 6px 0px rgba(49, 29, 40, 0.08), 0px 3px 5px 0px rgba(49, 29, 40, 0.16);
}

.search-form input:is(:hover, :focus, :current, :focus-within) {
  border: 0.5px solid #8E8D8D;
}

/* SEARCH BUTTON */
.search-button {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;
  background-color: var(--search-btn-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 250ms, scale 250ms;
}

.search-button:is(:hover, :focus) {
  background-color: var(--search-btn-hover-color);
}

.search-button:is(:hover, :focus) img.search-icon {
  scale: 110%;
}

img.search-icon {
  width: 18px;
  height: 17px;
}


/* GALLERY */
.gallery {
  padding: 0 10px 0 10px;
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: */
  gap: 18px;
}

/* li markers */
li.likes::marker {
  content: '🖤';
}

li.views::marker {
  content: '👀';
}

li.comments::marker {
  content: '💬';
}

li.downloads::marker {
  content: '☑️';
}

/* CARD STYLES */
.gallery-link {
  text-decoration: none;
  color: var(--text-color);
}

.photo-card {
  background-color: #ffffff;
  padding: 10px 10px 15px 10px;
  border-radius: 10px;
  box-shadow: var(--card-shadow);

  overflow: hidden;
}

.img-wrap {
  border-radius: 4px;
  overflow: hidden;
  aspect-ratio: 4/3;
}

img {
  display: block;
  border-radius: 4px;
  overflow: hidden;

  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  transition: scale 400ms;
}

.photo-card:hover img {
  scale: 110%;
}




/* MEDIA */
@media screen and (min-width: 720px) {
    .form-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      }
      
    .gallery {
      gap: 30px;
      margin-top: 40px;
    }

    .photo-card {
      width: calc((100% - 30px) / 2);
    }

    .search-form input,
    .input-wrapper {
      max-width: unset;
      width: 420px;
    }
  }

@media screen and (min-width: 1280px) {
    .photo-card {
        width: calc((100% - 90px) / 4);
      }
}

/* BUTTON LOAD MORE */
.load-more {
  display: block;
  margin: 0 auto 50px;

  min-width: 280px;
  height: 44px;
  padding: 0 50px;
  
  border: none;
  border-radius: 30px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  
  background-image: linear-gradient(to bottom right, #FFA354, #E82B45);
  background-color: #FFA354;
  transition: background-color 1000ms,
    background-image 2000ms;
  
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;

  cursor: pointer;
}

.load-more:hover, 
.load-more:focus {
  background-image: unset;
  background-color: #E82B45;
}

/* TEXT INFO */
.info-about-amount,
.end-text {
  text-align: center;
  margin-bottom: 18px;
}

.end-text {
  margin-bottom: 50px;
}

.info-about-amount::before,
.end-text::before {
  content: '';

  display: block;
  margin: 40px auto 25px;
  width: calc(100% - 2%);
  height: 0.5px;
  background-color: var(--search-btn-color);
}

/* IS HIDDEN */

.is-hidden {
  display: none;
}