:root {
  --background-color: #fffcf9;
  --search-btn-color: #e93046;
  --search-btn-hover-color: #d2243c;
  --load-btn-gradient: linear-gradient(to bottom right, #ffa354, #e82b45);
  --load-btn-hover-color: #e82b45;
}

.is-hidden {
  display: none;
}

li.likes::marker {
  content: '🖤';
}

li.views::marker {
  content: '👀';
}

li.comments::marker {
  content: '💬';
}

li.downloads::marker {
  content: '☑️';
}
